<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css"
    />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Books & Authors</title>
  </head>
  <body>
    <div class="uk-flex uk-flex-center uk-flex-around uk-padding">
      <div class="uk-flex uk-flex-center uk-width-1-2">
        <form action="/add_book" method="POST">
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Add Book</legend>
            {% csrf_token %}
            <div class="uk-margin uk-flex uk-flex-around">
              <label class="uk-width-1-2" for="title">Title</label>
              <input
                class="uk-width-1-2"
                type="text"
                name="title"
                id="title"
                required
              />
            </div>
            <div class="uk-margin uk-flex uk-flex-around">
              <label class="uk-width-1-2" for="desc">Description</label>
              <input class="uk-width-1-2" type="text" name="desc" id="desc" />
            </div>
            <input
              class="uk-button uk-button-secondary"
              type="submit"
              value="Agregar"
            />
            <a class="uk-button uk-button-secondary" href="author">Autores</a>
          </fieldset>
        </form>
      </div>
      <div class="uk-width-1-2">
        <table class="uk-table uk-table-striped uk-table-responsive">
          <thead>
            <tr>
              <th>id</th>
              <th>title</th>
              <th>action</th>
            </tr>
          </thead>
          <tbody>
            {% for libro in libros %}
            <tr>
              <td>{{libro.id}}</td>
              <td>{{libro.title}}</td>
              <td><a href="books/{{libro.id}}">Views</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
